<div>
  <%= render 'account/menu' %>

  <div class="border border-solid rounded border-slate-300 mb-4">
    <div class="flex p-8 text-slate-500 justify-between sm:flex-row flex-col">
      <div class="mr-3">
        <span class="font-bold">Email</span>
        <p class="hidden sm:block">Use this email to sign in. This is also where we’ll send email communication and newsletters.</p>
      </div>
      <div class="justify-end mb-4 sm:mb-0">
        <p>user@gmail.com</p>
      </div>
      <p class="sm:hidden block">Use this email to sign in. This is also where we’ll send email communication and newsletters.</p>
    </div>
  </div>
  <div class="border border-solid rounded border-slate-300 mb-4">
    <div class="flex p-8 text-slate-500 justify-between">
      <div class="mr-3">
        <span class="font-bold">Password</span>
      </div>
      <div class="justify-end">
        <span>••••••••••</span>
      </div>
    </div>
  </div>
  <div class="border border-solid rounded border-slate-300 mb-4">
    <div class="flex p-8 text-slate-500 justify-between">
      <div class="mr-3">
        <span class="font-bold">Name</span>
      </div>
      <div class="justify-end">
        <p>Add your name</p>
      </div>
    </div>
  </div>
  <div class="border border-solid rounded border-slate-300 mb-4">
    <div class="flex p-8 text-slate-500 justify-between">
      <div class="mr-3">
        <span class="font-bold">Display name</span>
        <p>Appears next to any comments you post.</p>
      </div>
      <div class="justify-end">
        <p>Add a display name</p>
      </div>
    </div>
  </div>
</div>
