<div class="flex w-full h-14 items-center border-b border-slate-300 mb-6">
  <%= link_to 'Profile', account_profiles_path, class: "mr-6 py-2" %>
  <%= link_to 'Subscription & Billing', account_subscriptions_path, class: "mr-6 py-2" %>
  <%= link_to 'Interests', account_interests_path, class: "mr-6 py-2" %>
</div>