@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply border-solid border-blue-300 border-b-2
}

@layer components {
  .side-menu {
    display: block;
    z-index: 999999;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 200px;
    min-height: 100vh;
    border-right: 1px solid #DEE3EC;
    background: white;
    transition: min-width 0.3s ease;
  }

  .hide {
    display: none;
  }
}